{% extends "AppCoder/index.html" %}
{% load static %}
{% block cuerpo %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Formulario - Editar Perfil</h1>
    <h1>De {{usuario}}</h1>
  
    <form action="" method="POST">{% csrf_token %}
        <!-- Acá está la magia de Django-->
        <table>
            {{ miFormulario }}
        </table>

        <input type="submit", value="Enviar">
    </form> 
    <br> 
    <button type='button'>
        <a class="navbar-brand" href="{% url 'CambiarContrasenia' %}">Cambiar contrasenia</a>
    </button>
{% endblock %}