{% extends 'AppCoder/index.html'%}
{% load static %}

{% block titulo%}Ver Profes Form12{% endblock titulo%}



{% block cuerpo%}

    <h1 class="text-bg-info">Soy un Formulario</h1>
    <h1 class="text-center">Estudante Form</h1>
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if miFormulario.errors %}
                    <p style="color: red">Estan mal los datos, revisar</p>
                {% endif %}
                {% for p in profesores %}
                    <li>{{p}}</li>
                    <button>
                        <a class="btn btn-dark" href="{% url 'eliminarProfesor12' p.nombre %}"> Eliminar</a>
                    </button>
                {% endfor %}
                <br>
            </div>
        </div>
    </div>
{% endblock cuerpo%}